<div
  class="w-full flex items-center justify-between py-[10px] space-x-4 rtl:space-x-reverse">

  <!-- Title + Sidebar Button -->
  <div>
    <h1 class="text-[18px] md:text-[22px] font-bold text-gray-800 hidden md:block">
      Welcome to Al Lulu Restaurant
    </h1>

    <i (click)="openSidebar()"
      class="fas text-[22px]  md:text-[22px] font-bold text-primaryTitle md:hidden cursor-pointer transition-transform duration-300 ease-in-out"
      [ngClass]="{
      'fa-times rotate-90 scale-110 text-red-600': isSidebarOpen,
      'fa-bars rotate-0 scale-100 text-primaryTitle': !isSidebarOpen
    }"></i>

  </div>

  <!-- Right Controls -->
  <div class="flex flex-row-reverse md:flex-row items-center rtl:space-x-reverse space-x-2 ">

    <!-- 🌐 Language -->
    <div class="relative" (click)="toggleLanguageDropdown()" tabindex="0">
      <button class="flex items-center gap-2 text-gray-600 bg-white border border-gray-200 rounded shadow px-1 hover:text-blue-600">
        🌐
        <span class="text-sm">{{ currentLang.toUpperCase() }}</span>
      </button>

      <div *ngIf="langOpen"
        [ngClass]="{ 'left-0': currentLang === 'ar', 'right-0': currentLang !== 'ar' }"
        class="absolute mt-2 w-32 bg-white border border-gray-200 rounded shadow z-50">

        <button class="block w-full px-4 py-2 hover:bg-gray-100 text-blue-500 text-right"
          (click)="changeLang('en')">English</button>

        <button class="block w-full px-4 py-2 hover:bg-gray-100 text-blue-500 text-right"
          (click)="changeLang('ar')">العربية</button>

      </div>
    </div>



    <!-- 👤 User -->
    <div class="relative" (click)="toggleUserDropdown()" tabindex="0">
      <button class="flex items-center gap-2 text-gray-600 hover:text-blue-600">
        <img src="assets/images/navbar/download.png" alt="User"
          class="w-8 h-8 rounded-full border border-gray-300 object-cover" />
      </button>

      <div *ngIf="userOpen"
        [ngClass]="{ 'left-0': currentLang === 'ar', 'right-0': currentLang !== 'ar' }"
        class="absolute mt-2 w-40 bg-white border border-gray-200 rounded shadow z-50">

        <a routerLink="/settings"
          class="block px-4 py-2 hover:bg-gray-100 text-blue-500 text-right">
          الإعدادات
        </a>

        <button (click)="logout()"
          class="block w-full px-4 py-2 text-right hover:bg-gray-100 text-blue-500">
          تسجيل الخروج
        </button>
      </div>
    </div>

  </div>
</div>

<!-- Sidebar Drawer -->
<div
  class="absolute top-0 z-[99999999] h-screen p-4 pt-[20px] bg-black text-white  shadow-md transition-all duration-300 ease-in-out w-[75%] sm:w-[40%]"
  [ngClass]="currentLang === 'ar'
    ? (isSidebarOpen ? 'right-0 translate-x-0' : 'right-0 translate-x-full')
    : (isSidebarOpen ? 'left-0 translate-x-0' : 'left-0 -translate-x-full')">

  <app-sidebar (closeSidebar)="closeSidebar()"></app-sidebar>
</div>
