<div class="flex flex-col min-h-screen ">
  <!-- Navbar -->
  <header class="shadow-md" >
    <app-navbar (toggle)="toggleSidebar()" ></app-navbar>
  </header>


  <div class="flex flex-1 overflow-hidden   ">
    <!-- Sidebar -->
    <!-- [ngClass]="{ ' block': sidebarOpen , 'hidden': !sidebarOpen }" -->
    <aside class="w-[20%] pt-[20px] bg-black text-white  p-4 shadow-md border-r  hidden md:block "
    >
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-6 overflow-y-auto  ">
      <router-outlet></router-outlet>

    </main>
  </div>
</div>


<!-- <app-footer></app-footer> -->
